<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Залы", "Index", "halls", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Фильмы", "Index", "films", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Сеансы", "Index", "sessions", new { area = "" }, new { @class = "navbar-brand" })
                @if (User.Identity.IsAuthenticated == true)
                {
                    @Html.ActionLink("Профиль", "Details", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Выход", "Logoff", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("История покупок", "History", "places", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink("Войти", "Login", "Account", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Регистрация", "Register", "Account", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Фильмы", "Index", "Home")</li>
                        <li>@Html.ActionLink("Сеансы", "About", "Home")</li>
                        <li>@Html.ActionLink("Стотрудники", "Contact", "Home")</li>
                    </ul>
                </div>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
