@model IEnumerable<BD_CinemaV7.Models.places>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Места</h2>


<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.sessions.hall.hall_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessions.film.film_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessions.date_of_session)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessions.time_of_session)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.number_of_row)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number_of_seat_in_a_row)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_of_operation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.sessions.hall.hall_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sessions.film.film_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sessions.date_of_session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sessions.time_of_session)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number_of_row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.number_of_seat_in_a_row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>

            @if (item.status == "Куплено")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.date_of_operation)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                @if (item.status == "Свободно")
                {
                    @Html.ActionLink("Купить билет", "BuyTicket", new { id = item.Id })
                }


            </td>

        </tr>
    }
    <div>

        @Html.ActionLink("Назад", "Index", "sessions")
    </div>
</table>
