@model BD_CinemaV7.Models.sessions

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление сеанса</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
      
        <div class="col-md-10">
            Название фильма
            <div>
                @Html.DropDownListFor(model => model.filmId, ViewBag.films as SelectList)
                @Html.ValidationMessageFor(model => model.filmId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            Название зала
            <div>
                @Html.DropDownListFor(model => model.hallId, ViewBag.halls as SelectList)
                @Html.ValidationMessageFor(model => model.hallId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            Дата сеанса
            <div>
                @Html.EditorFor(model => model.date_of_session, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date_of_session, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10">
            Время сеанса
            <div>
                @Html.EditorFor(model => model.time_of_session, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.time_of_session, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-10">
            Цена билетов, руб
            <div>
                @Html.EditorFor(model => model.price_of_tickets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price_of_tickets, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Добавить сеанс" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
