@model BD_CinemaV7.Models.hall

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Зал</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            @Html.LabelFor(model => model.hall_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hall_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.hall_name, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.type, ViewBag.types as SelectList)
                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
       
        <div class="col-md-10">
            @Html.LabelFor(model => model.number_of_rows, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number_of_rows, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.number_of_rows, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        
        <div class="col-md-10">
            @Html.LabelFor(model => model.number_of_seats_in_a_row, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.number_of_seats_in_a_row, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.number_of_seats_in_a_row, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    
                }

                <div>
                    @Html.ActionLink("Назад", "Index")
                </div>
</body>
</html>
