@model BD_CinemaV7.Models.film

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Фильм</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            
            <div class="col-md-10">
                Название фильма
                @Html.EditorFor(model => model.film_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.film_name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            
            <div class="col-md-10">
                Возрастной рейтинг
                <div>
                    @Html.DropDownListFor(model => model.age_rating, ViewBag.ages as SelectList)
                    @Html.ValidationMessageFor(model => model.age_rating, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
           
            <div class="col-md-10">
                Жанры
                <div>
                    @Html.DropDownListFor(model => model.style, ViewBag.styles as SelectList)
                    @Html.ValidationMessageFor(model => model.style, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
           
            <div class="col-md-10">
                Страна
                <div>
                    @Html.DropDownListFor(model => model.Country, ViewBag.country as SelectList)
                    @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                Бюджет, в млн$
                @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            
            <div class="col-md-10">
                Дата выхода
                @Html.EditorFor(model => model.release_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.release_date, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                Длительность в минутах

                @Html.EditorFor(model => model.duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.duration, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                Дистрибютор
                <div>
                    @Html.DropDownListFor(model => model.distributor, ViewBag.distr as SelectList)
                    @Html.ValidationMessageFor(model => model.distributor, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            
            <div class="col-md-10">
                Режиссер
                <div>
                    @Html.DropDownListFor(model => model.regisseur, ViewBag.regis as SelectList)
                    @Html.ValidationMessageFor(model => model.regisseur, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
